html {
    margin-left: 13rem;
    margin-right: 13rem;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #1f253d;   
    color: #ffffff;
}

.header-menu,
.left-menu, 
.centr-profile,
aside {
    background-color: #394264;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 3rem;
}

.header-menu__nav {
    display: flex;
}

.header-menu__nav__link {
    padding-left: 2rem;
    padding-right: 4rem;
    text-decoration: none;
    color: #ffffff;
}

.nav__link__name,
.nav__link__count {
    display: inline-block;
}

.nav__link__count {
    margin-left: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #f34d65;
}

.header-menu__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-menu__profile__link {
    margin-right: 1rem;
}

.header-menu__profile__photo {
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.25rem solid #50597b;
    margin-right: 1rem;
}



/*==========================================================*/



body main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1.5rem;
}

nav.left-menu,
div.centr-profile,
aside {
    flex-grow: 1;
    width: 33.33%;
    border-radius: 0.25rem;
}

.left-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 1rem;
}

.left-menu__head,
.left-menu__link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.left-menu__head {
    background-color: #11a8ab;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.25rem 0.25rem 0 0;
}

.left-menu__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
}

.left-menu__link:not(:last-child) {
    border-bottom: 0.125rem solid #2D3552;
}

.left-menu__link__name {
    margin-left:  4rem;
}

.left-menu__link__count {
    background-color: #50597b;
    width: 2.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
    margin-right: 1rem;
}



/*==========================================================*/



.centr-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.centr-profile__photo {
    object-fit: cover;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 5px solid #50597b;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.centr-profile__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.centr-profile__description {
    font-weight: 300;
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
}

.centr-profile__stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.left-stats,
.centr-stats,
.right-stats {
    flex-grow: 1;
    width: 33.33%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.left-stats {
    border-top: 5px solid #ffbb4e;
    border-right: 0.125rem solid #2D3552;
}

.centr-stats {
    border-top: 5px solid #0db1b1;
    border-left: 0.0625rem solid #2D3552;
    border-right: 0.0625rem solid #2D3552;
}

.right-stats {
    border-top: 5px solid #f34d65;
    border-left: 0.125rem solid #2D3552;
}



/*==========================================================*/



aside {
    margin-left: 1rem;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
}

.form-subscribe__phrase {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-subscribe__input {
    background-color: #50597b;
    border-radius: 0.25rem;
    border: 1px solid #2D3552;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    vertical-align: baseline;
}

::placeholder {
    font-size: 0.625rem;
    color: #ffffff;
}

.form-subscribe__button {
    background-color: #11a8ab;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1.5rem 3rem;
    border-radius: 0.25rem;
}