html {
    margin-left: 15rem;
    margin-right: 15rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #1f253d;    
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #394264;
    border-radius: 0.25rem;
}

.header-menu__item {
    padding: 1rem 4rem 1rem 1rem;
    text-decoration: none;
    color: #ffffff;

}

.header-menu__item.profile {
    
}