body {
    background-color: #1f253d;
}

.top_menu-list {
    list-style-type: none;
    background-color: #394264;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

.top_menu-list > li {
    float: left;
}

.top_menu-list > li > a {
    display: block;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    color: white;
}